.task {
    background-color: #3EB489;
    color: darkblue;
}

.nav-bar {
    background-color: #ffd7b5;
}

.nav-element {
    background-color: #313191;
}

.button-element {
    background-color: #313191;
}
