{% extends 'base/base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" action="{% url 'accounts:create-account' %}">
            <div><h3>Create Your Account</h3></div>
            {% for field in form %}
                <div class="form-group border border-dark rounded">
                    {{ field }}
                 </div>
                {% if field.errors %}
                    <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Register</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
