{% extends 'base.html' %}

{% block content %}
    {% if not tasks %}
        <div class="d-flex justify-content-center">
            <div class="d-inline-flex p-5 mb-3 mt-5">
                <h4>You have no tasks at the moment</h4>
            </div>
        </div>
    {% else %}
        {% if next_task %}
            <div class="float-left ml-2 text-wrap" style="width: 12rem">
                <h5>
                    Next task: <a href="{% url 'tasks:details-task' next_task.pk %}">
                    {{ next_task.name|capfirst }}</a>
                </h5>
            </div>
        {% else %}
            <div class="float-left ml-3 pl-3 border border-dark rounded text-wrap" style="width: 10rem">
                You have no upcoming tasks
            </div>
        {% endif %}

        {% if not number_of_due_date_tasks %}
            <div class="float-right mt-1 mr-5 text-wrap" style="width: 13rem">
                You have no unfinished tasks that are due date
            </div>
        {% else %}
            <div class="float-right mt-1 mr-5 text-wrap" style="width: 13rem">
                {% if number_of_due_date_tasks == 1 %}
                    You have <span class="text-danger">{{ number_of_due_date_tasks }}</span>
                    unfinished task that is due date
                {% else %}
                    You have <span class="text-danger">{{ number_of_due_date_tasks }}</span>
                    unfinished tasks that are due date
                {% endif %}
            </div>
        {% endif %}

        <div class="d-flex justify-content-center mb-2 pr-1">
            <h3 class="ml-4 p-2 rounded">Tasks currently:</h3>
        </div>

        {% for task in tasks %}
            <a class="text-decoration-none" href="{% url 'tasks:details-task' task.pk %}">
                <div class="task mb-3 ml-3 mr-4 rounded
                row border border-dark">
                    <div class="col pt-3">
                        {{ forloop.counter }}
                    </div>

                    <div class="col h5 mr-3 pb-2 pt-3">
                        {{ task.name|capfirst }}
                    </div>

                    <div class="col h6 ml-3 pt-3">
                        {{ task.due_date }} {% if task.time %} - at {{ task.time }} {% endif %}
                    </div>

                    <div class="col mt-3">
                        <div>
                            Done:<span class="ml-2">{% if task.is_done %} ✓ {% endif %}</span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% if number_of_tasks_done %}
            <div class="float-right h5 p-2 mb-3 mr-5">
                <div class="mt-3 mr-2 text-wrap" style="width: 13rem">
                    <form method="post" action="{% url 'tasks:catalogue' %}">
                        <button type="submit" name="move" class="btn button-element text-white mr-2">
                            Move
                        </button>
                            all tasks that are done to 'Completed Tasks'
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
