{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h4>Completed:</h4>
    </div>
    <table class="table">
    {% for date, tasks in tasks_with_dates.items %}
        <tr>
        <td>for {{ date }}</td>
        {% for task in tasks %}
            <td>{{ task.name }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% if completed_tasks %}
        <div class="d-flex justify-content-center pb-3">
            <form method="post" action="{% url 'tasks:completed-tasks' %}">
                <button type="submit" class="btn btn-danger btn-lg">Clear All</button>
                {% csrf_token %}
            </form>
        </div>
    {% endif %}
{% endblock %}
