{% extends 'base.html' %}

{% block content %}
    {% if completed_tasks %}
        <div class="d-flex justify-content-center">
            <h4>Completed:</h4>
        </div>
        {% else %}
            <div class="d-flex justify-content-center p-4">
                <h4>You have no completed tasks at the moment</h4>
            </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-primary">
            {% for date, tasks in tasks_with_dates.items %}
                <tr>
                    <th>for {{ date }}</th>
                    {% for task in tasks %}
                        <td>
                            <a href="{% url 'tasks:details-task' task.pk %}"
                               class="text-decoration-none text-dark">{{ task.name }}</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if completed_tasks %}
        <div class="d-flex justify-content-center pb-3">
            <form method="post" action="{% url 'tasks:completed-tasks' %}">
                <button type="submit" class="btn btn-danger btn-lg">Clear All</button>
                {% csrf_token %}
            </form>
        </div>
    {% endif %}
{% endblock %}
